<!--수정하는 페이지-->
<div class="container">
    <form action="/post/update/<%= @post.id %>" method="post">
      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input name = "input_title" value="<%= @post.title %>" type="text" class="form-control" id="exampleFormControlInput1" placeholder="제목을 입력하세요!">
      </div>
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name = "input_content" class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="내용을 입력하세요!"><%= @post.content %></textarea>
      </div>
      <button type="submit" class="btn btn-warning">수정하기</button> 
      <!--버튼 위치 무조건 폼 태그 사이에 있어야해, 버튼타입 submit으로 바꿔야 내용 보낼 때 정상작동-->
    </form>
</div>